@import "../node_modules/bootstrap/scss/bootstrap.scss";

#root {
  height: 100vh;
  background-image: url("/Assets/Images/pexels-aleksandar-pasaric-1437493.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.custom-container {
  margin-top: 20vh;
}

@media only screen and (max-width: 576px) {
  .row {
    gap: 2em;
  }
}
